@{
    ViewData["Title"] = "Atenciones tecnicas";
    Layout = "~/Views/Shared/ConsumerLayout.cshtml";
}

@section Styles {

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
}

<div class="container">

    <br />

    <span>Seleccion el estado de atencion:</span>
    <select id="sltAttentionsStates" class="form-control-sm">
        <option value="COMPLETADO">COMPLETADO</option>
        <option value="PENDIENTE">PENDIENTE</option>
        <option value="EN PROCESO">EN PROCESO</option>
        <option value="DENEGADO">DENEGADO</option>
    </select>

    <div class="row header" style="text-align:center;color:green">
        <h3>Atenciones</h3>
    </div>

    <table id="tblAttentions" class="table table-striped table-bordered" style="width:100%"></table>
</div>

<div id="mdlAttentionDetail" class="modal fade" tabindex="-1" aria-labelledby="mdlAttentionDetail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header float-right">

                <h5>Detalles del trabajo</h5>

                <div class="text-right">
                    <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                </div>

            </div>

            <div class="modal-body">

                <div>
                    <div class="box">

                        <p id="pAddress"></p>
                        <br>

                        <p id="pDescription"></p>
                        <br>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var attentions = [];

            $(window).on('load', async function () {

                try {

                    await loadAttentions();

                } catch (error) {

                    console.error('Error durante la carga de datos: ', error);
                }
            });

            $('#sltAttentionsStates').on('change', function () {

                var filteredAttentions = attentions.filter(a => a.JobState === $(this).val());

                fillTableAttentions(filteredAttentions, $(this).val());
            });

            $('#tblAttentions').on('click', '#btnAttentionDetail', function () {

                $(this).parents("tr").find("#tId").each(function () {

                    var id = $(this).html();;

                    var filteredAttentions = attentions.filter(a => a.Id === parseInt(id));

                    $('#pAddress').text(`Direccion: ${filteredAttentions.Address}`);
                    $('#pDescription').text(`Descripcion: ${filteredAttentions.Description}`);
                });
            });

            async function loadAttentions() {

                try {

                    var data = await jQuery.ajax({

                        url: '@Url.Action("JobsByConsumer", "Attentions")',
                        method: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                    attentions = data;

                    fillTableAttentions(attentions, 'COMPLETADO');

                } catch (error) {

                    // window.open('@Url.Action("Error", "Home")', '_self');
                }
            }

            function fillTableAttentions(listAttentions, attentionsStates) {

                if (listAttentions.length === 0) {

                    Swal.fire({
                        icon: 'error',
                        title: 'Error al realizar busqueda!',
                        text: 'Se produjo un error al intentar buscar por estado de atencion!'
                    });

                    $('#tblAttentions').html('');

                    return;
                }

                var contentHtml = '';

                if (attentionsStates === 'PENDIENTE' || attentionsStates === 'COMPLETADO') {

                    contentHtml = `
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Contacto</th>
                                <th>Fecha</th>
                                <th>Tiempo</th>
                                <th>Mano de obra</th>
                                <th>Materiales</th>
                                <th>Monto final</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbdAttentions"></tbody>
                        <tfoot id="tftAttentions"></tfoot>`;

                    $('#tblAttentions').html(contentHtml);

                    if ($.fn.DataTable.isDataTable('#tblAttentions')) {

                        $('#tblAttentions').DataTable().destroy();
                    }

                    $('#tblAttentions').DataTable();

                    contentHtml = '';

                    for (const item of listAttentions) {

                        var workDate = new Date(item.WorkDate);

                        contentHtml += `
                            <tr>
                                <td id="tId">${item.Id}</td>
                                <td id="tChatRoomId" style="display:none;">${item.ChatRoomId}</td>
                                <td id="tTechnicalId">${item.TechnicalId}</td>
                                <td id="tFirstname">${item.Firstname}</td>
                                <td id="tLastname">${item.Lastname}</td>
                                <td id="tPhone">${item.Phone}</td>
                                <td id="tWorkDate">${getFormattedDate(workDate)}</td>
                                <td id="tTime">${item.Time}</td>
                                <td id="tLaborBudget">${item.LaborBudget}</td>
                                <td id="tMaterialBudget">${item.MaterialBudget}</td>
                                <td id="tAmountFinal">${item.AmountFinal}</td>
                                <td id="tJobState">${item.JobState}</td>
                                <td>
                                    <button id="btnAttentionDetail" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#mdlAttentionDetail">Detalle</button>
                                    <button id="btnChat" class="btn btn-sm btn-neutral">Mensaje</button>
                                </td>
                            </tr>`;
                    }

                    $('#tbdAttentions').html(contentHtml);

                    contentHtml = '';

                    contentHtml = `
                        <tr>
                            <th>Id</th>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Contacto</th>
                            <th>Fecha</th>
                            <th>Tiempo</th>
                            <th>Mano de obra</th>
                            <th>Materiales</th>
                            <th>Monto final</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>`;

                    $('#tftAttentions').html(contentHtml);
                }
                else if (attentionsStates === 'EN PROCESO' || attentionsStates === 'DENEGADO') {

                    contentHtml = `
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Contacto</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbdAttentions"></tbody>
                        <tfoot id="tftAttentions"></tfoot>`;

                    $('#tblAttentions').html(contentHtml);

                    if ($.fn.DataTable.isDataTable('#tblAttentions')) {

                        $('#tblAttentions').DataTable().destroy();
                    }

                    $('#tblAttentions').DataTable();

                    contentHtml = '';

                    for (const item of listAttentions) {

                        var workDate = new Date(item.WorkDate);

                        contentHtml += `
                            <tr>
                                <td id="tId">${item.Id}</td>
                                <td id="tChatRoomId" style="display:none;">${item.ChatRoomId}</td>
                                <td id="tTechnicalId">${item.TechnicalId}</td>
                                <td id="tFirstname">${item.Firstname}</td>
                                <td id="tLastname">${item.Lastname}</td>
                                <td id="tPhone">${item.Phone}</td>
                                <td id="tJobState">${item.JobState}</td>
                                <td>
                                    <button id="btnAttentionDetail" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#mdlAttentionDetail">Detalle</button>
                                    <button id="btnChat" class="btn btn-sm btn-neutral">Mensaje</button>
                                </td>
                            </tr>`;
                    }

                    $('#tbdAttentions').html(contentHtml);

                    contentHtml = '';

                    contentHtml = `
                        <tr>
                            <th>Id</th>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Contacto</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>`;

                    $('#tftAttentions').html(contentHtml);
                }
            }

            function getFormattedDate(date) {

                let day = String(date.getDate()).padStart(2, '0');
                let mounth = String(date.getMonth() + 1).padStart(2, '0');
                let year = date.getFullYear();
                let hour = String(date.getHours()).padStart(2, '0');
                let minutes = String(date.getMinutes()).padStart(2, '0');
                let seconds = String(date.getSeconds()).padStart(2, '0');

                return `${day}/${mounth}/${year} ${hour}:${minutes}:${seconds}`;
            }
        });

    </script>
}