@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

body {
    background-color: #eee
}

.height {
    height: 100vh;
}

.table-responsive {
    max-height: 300px;
    overflow-y: auto;
}

.table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}