@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link id="bootstrap-css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Error - HelpTechAppWeb</title>

</head>
<body>

    <div class="wrapper">

        <div class="container-fluid" id="top-container-fluid-nav">
            <div class="container"></div>
        </div>
        <div class="container-fluid" id="body-container-fluid">
            <div class="container">
                <div class="jumbotron">

                    <h1 class="display-1">4<i class="fa  fa-spin fa-cog fa-3x"></i> 4</h1>
                    <h1 class="display-3">ERROR</h1>
                    <p class="lower-case">Lo sentimos mucho!! Ha ocurrido un error en la aplicacion.</p>
                    <p class="lower-case">Si el problema persiste es porque ocurrio un fallo en nuestro sistema o usted esta cometiendo algun error.</p>

                </div>
            </div>
        </div>
        <div class="container-fluid" id="footer-container-fluid">
            <div class="container"></div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>