@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es-pe">
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script" />
    <link rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
    <link rel="stylesheet" href="~/home/css/index.css" />
    <title>Inicio - HelpTechAppWeb</title>

</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">

            <a class="navbar-brand">
                <h3 class="my-heading">Help<span class="bg-main">Tech</span></h3>
            </a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars mfa-white"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-link">
                        <a id="btnLogin" class="btn btn-primary btn-block btn-login">Iniciar sesion</a>
                    </li>
                    <li class="nav-link">
                        <a class="btn btn-primary btn-block btn-register" data-toggle="modal" data-target="#mdlRegisterUsers">Registrarse</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">

                <div class="col-md-12 text-center">
                    <h3 class="my-heading">Bienvenido a Help <span class="bg-main">Tech</span></h3>
                    <p class="myp-slider text-center">No te preocupes en invertir tiempo para buscar especialistas.</p>
                    <p class="myp text-center">PRECIOS ECONOMICOS   |   BUENA CALIDAD DE ATENCION   |   SEGURIDAD EN LA ATENCION</p>
                </div>

                <div class="col-md-12 text-center mt-5">
                    <div class="scroll-down">
                        <a id="bottom" href="#gobottom" class="btn btn-default btn-scroll floating-arrow"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <section id ="gobottom" class="testimonials">
        <div class="container">
            <div class="row">

                <div class="col-md-4 mb-3 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="big-img">
                        <img src="https://www.hiberus.com/crecemos-contigo/wp-content/uploads/2017/02/app-para-servicio-tecnico.jpg" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="inner-section wow fadeInUp">

                        <h3>Innovacion de Help <span class="bg-main">Tech</span></h3>
                        <br>
                        <p class="text-justify">
                            Un proyecto de servicios técnicos innovador utiliza tecnología y personalización para brindar soluciones eficientes y mejorar la experiencia del cliente en un mercado siempre cambiante. La innovación en este sector marca la diferencia al ofrecer servicios más efectivos y atractivos.
                        </p>

                        <div class="linear-grid">
                            <div class="row">

                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://aprende.com/wp-content/uploads/2022/09/electricista-trabajando.jpg" class="img-thumbnail">
                                </div>
                                <div class=" col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://rescate24peru.com/wp-content/uploads/2020/12/gafistero-rescate-24.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://s10.s3c.es/imag/_v0/770x420/1/0/1/600x400_albanil.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="https://pinturashipopotamo.es/wp-content/uploads/2020/01/como-elegir-un-buen-pintor.jpg" class="img-thumbnail">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="testimonials mybg-eventss">
        <div class="container">

            <div class="row">
                <div class="col-md-12 wow fadeInUp">

                    <h3 class="title-heading text-center">VARIEDAD DE SERVICIOS QUE OFRECEMOS</h3>
                    <p class="myp text-center">Contamos con una gran variedad de servicios para ofrecer. En esta aplicacion podra buscar y obtener ayuda de un especialista para que solucione el problema tecnico que se le presento.</p>

                </div>
            </div>

            <div class="row wow slideInLeft" data-wow-duration="3s">

                <div class="col-md-4 mb-3">
                    <div class="big-img2">
                        <img src="https://thumbs.dreamstime.com/b/contador-de-voltio-de-digitaces-13136401.jpg" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="inner-section">
                        <div class="my-grid">
                            <div class="row">

                                <div class="col-sm-6 col-md-4 mb-3">
                                    <img src="https://linkempresarial.pe/wp-content/uploads/2022/03/Foto-referencial-de-Pavco-Wavin.jpeg" class="img-fluid">
                                </div>
                                <div class="col-sm-6 col-md-8 mb-3 ">
                                    <img src="https://ferreteraermita.com.mx/wp-content/uploads/2021/08/herramientas-ba%CC%81sicas-del-alban%CC%83il-comercial-ferretera-ermita.jpg" class="img-fluid">
                                </div>
                                <div class="col-md-8 mb-3">
                                    <div class="text-block">

                                        <h5 class="events-heading">Servicios tecnicos mas demandados</h5>
                                        <p class="myp-font">Los servicios mas demandados segun las solicitudes de servicios tecnicos de nuestros usuarios fue:</p>
                                        <p class="myp-font">1) Gasfitero</p>
                                        <p class="myp-font">2) Electricista</p>
                                        <p class="myp-font">3) Albañil</p>
                                        <p class="myp-font">4) Pintor</p>
                                        <p class="myp-font">No obstante, una vez se registre en nuestra aplicacion podra acceder a una gran variedad de servicios tecnicos de acuerdo a su distrito.</p>

                                    </div>
                                </div>
                                <div class=" col-md-4 ">
                                    <img src="https://s2.glbimg.com/3vsr7JeSqgqfDA8fvLlKsZTCiII=/620x455/e.glbimg.com/og/ed/f/original/2018/06/18/foto-pintura-parede-azul-verde-tinta.jpg" class="img-fluid">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="testimonials text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto wow fadeInUp">

                    <h3 class="text-center font-weight-bold">EMPRESAS <span class="bg-main">ASOCIADAS </span> A HELPTECH</h3>
                    <p class=" text-center">En esta seccion podra visualizar las entidades que estan asociadas a nuestra empresa de tal manera que podamos garantizar la calidad  y seguridad de los servicios que son ofrecidos.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Coat_of_arms_of_the_National_Police_of_Peru.svg/1200px-Coat_of_arms_of_the_National_Police_of_Peru.svg.png">
                        <div class="card-block">

                            <h4 class="card-title text-center">ENTIDAD "PNP"</h4>

                            <div class="card-text text-center">
                                <div class="social-icons">

                                    <a target="_blank" href="https://www.facebook.com/Policia/" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://twitter.com/PoliciaPeru?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                    <a target="_blank" href="https://www.instagram.com/policiaperu/?hl=es" class="btn btn-circle my-social-btn google"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Poder_Judicial_del_Peru.png">
                        <div class="card-block">

                            <h4 class="card-title text-center">ENTIDAD "PODER JUDICIAL"</h4>

                            <div class="card-text text-center">
                                <div class="social-icons">

                                    <a target="_blank" href="https://www.facebook.com/CorteSuprema/?locale=es_LA" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://twitter.com/Poder_Judicial_?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                    <a target="_blank" href="https://www.instagram.com/pjudicialperu/?hl=es" class="btn btn-circle my-social-btn google"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top" src="https://elcomercio.pe/resizer/jZAQr1lputN0bwqb5UrB_MYB0oA=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/WXWUX6QLDFB7ZDM3OITSVXGSZU.jpg">
                        <div class="card-block">

                            <h4 class="card-title text-center">ENTIDAD "RENIEC"</h4>

                            <div class="card-text text-center">
                                <div class="social-icons">

                                    <a target="_blank" href="https://www.facebook.com/RENIECPERU/?locale=es_LA" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://twitter.com/ReniecPeru?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                    <a target="_blank" href="https://www.instagram.com/reniec_oficial/?hl=es" class="btn btn-circle my-social-btn google"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="card">
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Metro_Per%C3%BA.png">
                        <div class="card-block">

                            <h4 class="card-title text-center">ENTIDAD "PROMART"</h4>

                            <div class="card-text text-center">
                                <div class="social-icons">

                                    <a target="_blank" href="https://www.facebook.com/PROMARTHomecenter/?locale=es_LA" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://twitter.com/promart_peru?lang=es" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter"></i></a>
                                    <a target="_blank" href="https://www.instagram.com/promart_homecenter/?hl=es" class="btn btn-circle my-social-btn google"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 text-center text-lg-left my-auto  wow zoomIn">
                    <p class="text-muted small mb-4 mb-lg-0">© @DateTime.Now.Year - Desarrollado por Aaron Alarcon</p>
                </div>
                <div class="col-lg-6 text-center text-lg-right my-auto  wow zoomIn">
                    <ul class="list-inline mb-0">

                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-twitter fa-2x fa-fw"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <div id="mdlRegisterUsers" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content  border-0 mx-3">
                <div class="modal-body  p-0">
                    <div class="card text-center">

                        <div class="card-header pb-0 bg-white border-0">

                            <div class="row">
                                <div class="col ml-auto">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span> 
                                    </button>        
                                </div>                 
                            </div>
                            
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/008/442/086/small/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" class="img-fluid mt-5" />
                                
                            <h3>Tipo de usuario</h3>
                            
                        </div>

                        <div class="card-body px-sm-5 mb-5">

                            <p class="text-muted mb-0">Indique el tipo de usuario con el que se registrara en la aplicacion.</p>
                            <p class="text-muted "> Si tiene alguna duda sobre el registro no dude en escribirnos al correo:
                                <span class="touch">aaronacu_85@hotmail.com</span>
                            </p>

                            <div class="row justify-content-center mt-4 px-sm-5  ">

                                <div class="col">
                                    <button id="btnRegisterNewTechnical" type="submit" class="btn btn-inverse btn-block  font-weight-bold text-dark text-uppercase" data-dismiss="modal">
                                        <span class="plan">Registrarse como tecnico</span>                                   
                                    </button>               
                                </div>
                                <div class="col">
                                    <button id="btnRegisterNewConsumer" type="submit" class="btn btn-primary btn-block  text-dark font-weight-bold text-uppercase" data-dismiss="modal">                                  
                                        <span class="plan">Registrarse como consumidor</span>                           
                                    </button>                       
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>new WOW().init();</script>
    <script type="text/javascript">

        $(window).scroll(function () {

            var topWindow = $(window).scrollTop();
            var topWindow = topWindow * 1.5;
            var windowHeight = $(window).height();
            var position = topWindow / windowHeight;
            position = 1 - position;

            $('#bottom').css('opacity', position);
        });

        function openNav() {

            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.display = "0";
            document.body.style.backgroundColor = "white";
        }
        function closeNav() {

            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginRight = "0";
            document.body.style.backgroundColor = "white";
        }

        $(window).on("scroll", function () {

            if ($(this).scrollTop() > 10) {

                $("nav.navbar").addClass("mybg-dark");
                $("nav.navbar").addClass("navbar-shrink");
            }
            else {

                $("nav.navbar").removeClass("mybg-dark");
                $("nav.navbar").removeClass("navbar-shrink");
            }
        });

        $(function () {

            $('#bottom').click(function () {

                if (location.pathname.replace(/^\//, '') ==
                    this.pathname.replace(/^\//, '') &&
                    location.hostname == this.hostname) {

                    var target = $(this.hash);

                    target = target.length ? target :
                    $('[name=' + this.hash.slice(1) + ']');

                    if (target.length) {

                        $('html,body').animate({

                            scrollTop: target.offset().top
                        }, 500);

                        return false;
                    }
                }
            });
        });

    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            $(".fancybox").fancybox({

                openEffect: "none",
                closeEffect: "none"
            });

            $("#btnLogin").on("click", function () {

                var Url = "@Url.Action("Login", "Access")";

                window.open(Url, "_blank");

                return false;
            });

            $("#btnRegisterNewTechnical").on("click", function () {

                var Url = "@Url.Action("RegisterTechnical", "Access")";

                window.open(Url, "_self");

                return false;
            });

            $("#btnRegisterNewConsumer").on("click", function () {

                var Url = "@Url.Action("RegisterConsumer", "Access")";

                window.open(Url, "_self");

                return false;
            });
        });

    </script>

</body>
</html>