@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es-pe">
<head>

    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link id="bootstrap-css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel ="stylesheet" href="~/communications/css/messaging.css" />
    <title>Mensajeria - HelpTechAppWeb</title>

</head>
<body>

    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">

                    <div class="card-header msg_head">
                        <div id="dvProfileUrl" class="d-flex bd-highlight"></div>
                    </div>

                    <div id="dvChat" class="card-body msg_card_body"> </div>

                    <div class="card-footer">
                        <div class="input-group">

                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>

                            <textarea id="txaMessage" class="form-control type_msg" placeholder="Escribe tu mensaje..."></textarea>

                            <div class="input-group-append">
                                <span id="btnSendMessage" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <input id="iptChatRoomId" type="hidden" value="@ViewBag.ChatRoomId" />
    <input id="iptRole" type="hidden" value="@ViewBag.Role" />
    <input id="iptPersonId" type="hidden" value="@ViewBag.PersonId" />
    <input id="iptProfileUrlTechnical" type="hidden" value="" />
    <input id="iptProfileUrlConsumer" type="hidden" value="" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>